.DS_Store
*.pdf
*.pkl
*.h5
*.html
*.png
!figures/det_repo_img.png
!figures/combined_3x2_charge_displays.png
*.npy
*.root
sftp-config.json

# Generated data from scripts
**/generated_data/
**/spatial_overlap_integrals/
**/__pycache__/
**/.ipynb_checkpoints/
**/test_events/
**/autodiff_datasets/
**/output/
**/trained_model/
**/data/
**/siren_training/**
**/dedx_siren_training/**
**/debug/
!data/
!data/**/
!data/**/photonsim_params.json

# Ignore s3df_jobs folder except .py and .md files
s3df_jobs/*
!s3df_jobs/*.py
!s3df_jobs/*.md
!s3df_jobs/*/
s3df_jobs/*/*
!s3df_jobs/*/*.py
!s3df_jobs/*/*/
s3df_jobs/*/*/*
!s3df_jobs/*/*/*.py





lucid_sim.egg-info/
